

@font-face {
	font-family: Glamoure;
	src: url(assets/fonts/Glamoure.ttf);
}

@font-face {
	font-family: Saira;
	src: url(assets/fonts/Saira.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--foreground-bg1: rgba(254, 252, 237, 1);
	--foreground-bg2: rgba(217, 126, 99, .75);
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	color: white;

	font-family: Saira;
	font-size: 1.5rem;

	background-color: rgb(0, 0, 0, .25);

}

.hero {
	height: 100vh;
	background-image: url(assets/img/foto-hero-pc.jpg);
	background-repeat: no-repeat;
	background-position: center 43%;
	background-size: cover;
	
	nav {
		background-color: rgb(0, 0, 0, .5);
		display: flex;
		position: relative;
		padding: 40px;
		
		justify-content: space-between;
		align-items: center;
		
		.menu-on {
			display: flex;
			flex: 2;
			align-items: center;
			justify-content: space-around;

			
			li {
				list-style: none;
				text-transform: uppercase;
				
				a {
					text-decoration: none;
					color: white;
				}
			}
		}

		.test {
			display: flex;
			flex: 1;

			.logo-wrapper {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -40%);

				.logo-container {
					background-color: rgb(0, 0, 0, 1);
					padding: 40px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;

					.logo {
						object-fit: cover;
					}
				}
				
			}
		}
		
	}
	
	.hero-content {
		padding-left: 4rem;
		margin-top: 2rem;

		.title {
			margin-bottom: 1.5rem;
		}

		h1 {
			font-family: Glamoure;
			font-size: clamp(2.75rem, 1.143rem + 4.286vw, 5rem);
		}

		p {
			font-size: clamp(0.8rem, 0.514rem + 0.762vw, 1.2rem);
			margin-bottom: 1.5rem;
		}

		.social-media {
			display: flex;
			justify-content: space-between;
			width: 186px;
			height: 35px;

		}
	}
	
}

.home {
	height: 100vh;
}





















































/* MEDIA QUERY DEL HERO A LOS 600PX */