

@font-face {
	font-family: Aclonica;
	src: url(assets/fonts/Aclonica.ttf);
}

@font-face {
	font-family: Saira;
	src: url(assets/fonts/Saira.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: rgba(255, 44, 44, 1);
	--secondary-color-black-50: #626262;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	color: black;

	font-family: Mina;
	font-size: 1.5rem;
}

h1 {
	font-family: Aclonica;
	font-size: clamp(2.75rem, 1.841rem + 2.424vw, 4.75rem);
	color: white;
}

.title-bg {
	background-color: var(--primary-color);
	margin-bottom: 1.5rem;
}

.title-section {
	width: 100%;
	display: flex;
	justify-content: end;
}

.title-bg-left {
	width: 50%;
	margin: 10rem 0 3rem 0;
	padding: 1rem 0 1rem 15rem;
	border-radius: 0 5rem 5rem 0;
}

.title-bg-right {
	width: 50%;
	margin: 10rem 0 3rem 0;
	padding: 1rem 0 1rem 15rem;
	border-radius: 5rem 0 0 5rem;
}

.burguer {
	width: 25px;
	height: 25px;
	margin-bottom: 8px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	display: none;
}

nav {
	position: relative;
	padding: 4rem;
	
	.menu-on {
		background-color: var(--secondary-color-black-50);
		border: 2px solid black;
		display: flex;
		flex: 1;
		justify-content: space-around;
		padding: 25px;
		border-radius: 3rem;
		
		li {
			list-style: none;
			text-transform: uppercase;
			
			a {
				text-decoration: none;
				color: white;
			}
		}
	}

	.test {

		.logo-wrapper {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			.logo-container {
				background-color: var(--primary-color);
				padding: 25px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				.logo {
					object-fit: cover;
				}
			}
		}
	}
}

.hero {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 10rem;

	.hero-img {
		flex: 1;
	}
	
	.hero-content > * {
		padding-left: 5rem;
	}

	.hero-content {
		margin-top: 4rem;
		flex: 1;

		.title-bg {
			width: 105%;
			padding: 2.5rem 0 2.5rem 5rem;
		}

		p {
			font-size: clamp(0.9rem, 0.543rem + 0.952vw, 1.4rem);
			margin-bottom: 1.5rem;
		}

		.social-media {
			display: flex;
			justify-content: space-between;
			width: 266px;

		}
	}
	
}

.home {
	
	.origin {
		.origin-content {
			display: flex;
			flex-direction: row;
		}

		.origin-img {
			margin: auto;

			p {
				display: flex;
				font-weight: 600;
				justify-content: center;
			}

			img {
				width: 759px;
				height: auto;
				padding: 3rem 3rem 0rem 3rem;
			}
		}
		.origin-content p {
			margin: 1.5rem 0;
			padding: 0 3rem 0 1rem;
		}
	}

	.history {

		.history-content {
			padding: 1rem 2rem;
			display: flex;
			flex: 1;

			p {
				margin: 2rem 0;
				padding: 0 2.5rem;
			}
		}

		.history-img {
			display: flex;
			justify-content: center;

			img {
				width: 1420px;
				height: auto;
			}
		}
	}

	.philosophy {
		
	}

	
}





















































/* MEDIA QUERY DEL HERO A LOS 600PX */