

@font-face {
	font-family: Glamoure;
	src: url(assets/fonts/Glamoure.ttf);
}

@font-face {
	font-family: Saira;
	src: url(assets/fonts/Saira.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: rgba(255, 44, 44, 1);
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	color: black;

	font-family: Saira;
	font-size: 1.5rem;
}

.hero {
	height: 100vh;
	background-image: url(assets/img/food-4911748_1920-Photoroom.png);
	background-repeat: no-repeat;
	background-position: 100% 70%;
	background-size: 50%;
	
	nav {
		position: relative;
		padding: 4rem;
		
		.menu-on {
			background-color: white;
			border: 2px solid black;
			display: flex;
			flex: 1;
			justify-content: space-around;
			padding: 25px;
			border-radius: 3rem;
			
			li {
				list-style: none;
				text-transform: uppercase;
				
				a {
					text-decoration: none;
					color: black;
				}
			}
		}

		.test {

			.logo-wrapper {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				.logo-container {
					background-color: var(--primary-color);
					padding: 25px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;

					.logo {
						object-fit: cover;
					}
				}
			}
		}
		
	}

	.hero-content > * {
		padding-left: 5rem;
	}

	.hero-content {
		margin-top: 4rem;
		
		.title-bg {
			color: white;
			background-color: var(--primary-color);
			width: 50%;
			padding: .75rem 0 .75rem 5rem;
			border-radius: 0 5rem 5rem 0;
			margin-bottom: 1.5rem;
		}

		h1 {
			font-family: Glamoure;
			font-size: clamp(2.75rem, 1.143rem + 4.286vw, 5rem);
		}

		p {
			font-size: clamp(0.9rem, 0.543rem + 0.952vw, 1.4rem);
			margin-bottom: 1.5rem;
		}

		.social-media {
			display: flex;
			justify-content: space-between;
			width: 266px;

		}
	}
	
}

.home {
	height: 100vh;
}





















































/* MEDIA QUERY DEL HERO A LOS 600PX */