@font-face {
	font-family: Aclonica;
	src: url(assets/fonts/Aclonica.ttf);
}

@font-face {
	font-family: Saira;
	src: url(assets/fonts/Saira.ttf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: rgba(255, 44, 44, 1);
	--red-light: rgba(255, 229, 229, 1);
	--red-separator: rgba(255, 151, 151, 1);
	--red-darker: rgba(105, 0, 0, 1);
	--secondary-color-black-50: #626262;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	color: black;

	font-family: Mina;
	font-size: 1.5rem;
}

h1 {
	font-family: Aclonica;
	font-size: clamp(2.75rem, 1.841rem + 2.424vw, 4.75rem);
	color: white;
}

h3 {
	text-transform: uppercase;
}

.title-bg {
	background-color: var(--primary-color);
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
}

.title-section {
	width: 100%;
	display: flex;
	justify-content: end;
}

.title-bg-left {
	width: 52%;
	margin-bottom: 3rem;
	padding: 1rem 0 1rem 2.5rem;
	border-radius: 0 5rem 5rem 0;
}

.title-bg-right {
	width: 52%;
	margin: 10rem 0 3rem 0;
	padding: 1rem 0 1rem 1rem;
	border-radius: 5rem 0 0 5rem;
	justify-content: center;
}

.burguer {
	width: 25px;
	height: 25px;
	margin-bottom: 8px;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

	display: none;
}

button {
	background-color: var(--primary-color);
	color: white;
	height: 35px;
	width: 100px;
	border: none;
	border-radius: 2rem;
	text-transform: uppercase;
	font-size: 1rem;
	cursor: pointer;
}

.navcollapse, .menu-mobile {
    display: none;
}

/* Común del Hero section de la primera página, el inicio del resto de las páginas y más similitudes */

nav {
	position: relative;
	padding: 4rem;

	.menu-on {
		background-color: var(--secondary-color-black-50);
		border: 2px solid black;
		display: flex;
		flex: 1;
		justify-content: space-around;
		padding: 25px;
		border-radius: 3rem;

		li {
			list-style: none;
			text-transform: uppercase;

			a {
				text-decoration: none;
				color: white;
			}
		}
	}

	.test {

		.logo-wrapper {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			.logo-container {
				background-color: var(--primary-color);
				padding: 25px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;

				.logo {
					object-fit: cover;
					width: 110px;
					height: 110px;
				}
			}
		}
	}
}

.origin-img, .itamae-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	flex: 1;

	p {
		display: flex;
		font-weight: 600;
		justify-content: center;
	}

	img {
		width: 80%;
		padding: 2rem 3rem 0rem 3rem;
	}
}

.origin-content, .itamae-content {
	flex: 1;

	p {
		margin: 1.5rem 0;
		padding: 0 3rem 0 1rem;
	}

	.origin-p {
		flex: 1;
	}
}

.reserve {
	width: 200px;
	height: 50px;
	background-color: var(--primary-color);

	margin: 1.5rem 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	border-radius: 2rem;

	a {
		color: white;
		text-decoration: none;
	}
}

/* ----------------------------------------------- HERO ---------------------------------------- */

.hero {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 10rem;

	.hero-img {
		flex: 1;
	}

	.hero-content>* {
		padding-left: 5rem;

		&:last-child {
			padding: 0;
		}
	}


	.hero-content {
		margin-top: 4rem;
		flex: 1;

		.title-bg {
			width: 105%;
			padding: 2.5rem 0 2.5rem 5rem;
		}

		p {
			font-size: clamp(0.9rem, 0.543rem + 0.952vw, 1.4rem);
			margin-bottom: 1.5rem;
		}

		.social-media {
			display: flex;
			justify-content: space-between;
			width: 266px;

		}
	}

}

/* ----------------------------------------------- HOME ---------------------------------------- */

.home {
	.origin {
		margin-bottom: 10rem;

		.origin-content {
			display: flex;
			flex-direction: row;
		}
	}

	.history {

		.history-content {
			padding: 1rem 2rem;
			display: flex;
			flex: 1;

			p {
				margin: 2rem 0;
				padding: 0 2.5rem;
			}
		}

		.history-img {
			display: flex;
			justify-content: center;

			img {
				width: 1420px;
				height: auto;
			}
		}
	}

	.philosophy {
		margin-bottom: 10rem;

		.philosophy-content {
			padding: 1rem 2rem;
			display: flex;

			.philosophy-left,
			.philosophy-right {
				margin: 2rem 0;
				padding: 0 2.5rem;
			}
		}
	}

	.quality {
		.quality-content {
			padding: 1rem 2rem;
			display: flex;

			.quality-left,
			.quality-right {
				flex: 1;
				margin: 2rem 0;
				padding: 0 2.5rem;
			}
		}

		.quality-img {
			display: flex;
			justify-content: center;
			margin-bottom: 5rem;

			img {
				width: 1450px;
				height: auto;
			}
		}
	}
}

/* ----------------------------------------------- TEAM ---------------------------------------- */

.team {
	.team-img {
		display: flex;
		justify-content: center;

		img {
			width: 1389px;
			margin-bottom: 2rem;
		}
	}

	.team-content {
		display: flex;
		padding: 1rem 2rem;

		p {
			margin: 2rem 0;
			padding: 0 2.5rem;
		}
	}

	.head-itamae-content {
		display: flex;
		margin-bottom: 10rem;
	}

	.master {

		.men,
		.women {
			display: flex;
			justify-content: center;

			.specialist {
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;

				img {
					width: 70%;
				}

				p {
					padding: 0 4rem;
					margin: 2rem 0;
				}
			}
		}
	}

	.tools-content {
		display: flex;

		.tools-left,
		.tools-right {
			flex: 1;
			padding: 0 4rem;

			p {
				margin: 2rem 0;
			}
		}
	}

	.tools-img {
		display: flex;
		justify-content: center;
		margin-bottom: 5rem;

		img {
			width: 95%;
		}
	}

	.teamwork-content {
		display: flex;
		padding: 1rem 2rem;

		p {
			margin: 2rem 0;
			padding: 0 2.5rem;
		}
	}

	.teamwork-img {
		display: flex;
		justify-content: center;
		margin-bottom: 5rem;

		img {
			width: 90%;
		}
	}
}

/* ----------------------------------------------- TEAMWORK ---------------------------------------- */

.menu {
	.menu-img {
		display: flex;
		justify-content: center;

		img {
			width: 67%;
			margin-bottom: 2rem;
		}
	}

	.menu-content {
		display: flex;
		padding: 1rem 2rem;

		p {
			margin: 2rem 0;
			padding: 0 2.5rem;
		}
	}

	.shoku-omakase {
		background-color: var(--red-light);
		margin: 3rem;

		.title-menu {
			display: flex;
			justify-content: center;
			font-size: clamp(1rem, -0.429rem + 3.81vw, 3rem);
		}

		.dish {
			display: flex;
			padding: 0 3rem;

			.separator {
				border: 2px solid var(--red-separator);
				width: 2px;
				height: 1200px;
				margin-right: 2rem;
			}

			.dish-left,
			.dish-right {
				flex: 1;

				.alergens {
					display: flex;
					flex-direction: column;
					margin-top: 4rem;
					padding-left: 5rem;

					img {
						margin: 1rem;
					}
				}
			}

			.dish-top {
				font-weight: 600;
				display: flex;
				flex: 1;
				align-items: center;

				img {
					width: 23px;
					height: 23px;
					margin: .5rem;
				}
			}

			.dish-left-content,
			.dish-right-content {
				margin-right: 1rem;

				h3 {
					margin-top: 4rem;
				}
			}
		}
	}

	.refined-creations {
		.creations {
			display: flex;

			.plate {
				display: flex;
				flex-direction: column;
				flex: 1;
				align-items: center;
				padding: 2rem;

				img {
					width: 90%;
				}

				h2 {
					margin: 1rem 0;
				}
			}
		}
	}

	.quality {
		margin-top: 10rem;

		.procedence-content {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				width: 90%;
				margin-bottom: 5rem;
			}
		}

		.procedence {
			padding: 1rem 2.5rem;
			display: flex;

			p {
				margin: 0 2rem;
			}
		}
	}

	.wine-selection {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;

		padding-bottom: 5rem;

		img {
			width: 90%;
			margin-bottom: 5rem;
		}

		.wines {
			display: flex;

			.wine-left {
				flex: 1;

				.wine-content {
					display: flex;
					flex-direction: column;
					padding: 2rem 2.5rem;
					align-items: center;

					p {
						margin: .5rem 2rem;
					}
				}
			}
		}
	}
}

.contact {

	.menu-img {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			width: 90%;
			margin-bottom: 5rem;
		}
	}

	.contact-content {
		padding: 1rem 2.5rem;
		display: flex;

		p {
			margin: .5rem 2rem;
			flex: 1;
		}
	}

	.contact-bg {
		width: 40%;
		display: flex;
		flex-direction: column;

		background-color: var(--red-light);
		margin: 2rem 4.5rem;

		.block {
			display: flex;
			flex-direction: column;
			margin-left: 3rem;

			label {
				padding-top: .75rem;
			}

			input {
				width: 90%;
				height: 30px;
				margin: .5rem;

				&:focus {
					outline: none;
				}
			}

			textarea {
				width: 90%;
				height: 100px;
				margin: .5rem;
				resize: none;

				&:focus {
					outline: none;
				}
			}
		}

		.contact-submit {
			display: flex;
			justify-content: end;
			margin: 2rem 3.5rem;
		}
	}



	.reserve-content {
		display: flex;
		align-items: center;
		margin-bottom: 5rem;

		.contact-bg-res {
			background-color: var(--red-light);
			width: 90%;
			height: 90%;
			margin: auto;
			display: flex;
			flex-direction: column;

			.top {
				display: flex;
				justify-content: space-between;
				padding: 2rem 3rem;
			}

			.bottom {
				display: flex;
				justify-content: space-between;
				margin: auto;

				.block-res {
					display: flex;
					flex-direction: column;
					margin: .5rem 4rem;
					padding: .5rem;

					input {
						height: 30px;
						width: 200px;
					}

					select {
						height: 30px;
						width: 200px;
					}
				}
			}

			.block-res {
				display: flex;
				flex-direction: column;
				margin: .5rem 4rem;

				input {
					height: 30px;
				}
			}

		}

		.left {
			flex: 1;
		}

		.right {
			flex: 1;

			p {
				padding: 1rem;
				margin: 0 3rem;
			}
		}

		.contact-submit-res {
			display: flex;
			justify-content: end;
			margin-top: 2rem;
			padding-right: 5rem;
			padding-bottom: 3rem;
		}
	}

}




















footer {
	padding: 2rem;
	background-color: var(--red-darker);
	color: white;
	display: flex;
	justify-content: space-between;

	.branding {
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;

		.logo img {
			width: 278px;
			height: auto;
		}
	}

	.links {
		display: flex;
		flex-direction: column;
		line-height: 4rem;
		align-items: center;
		flex: 1;
		margin: auto;

		li {
			list-style: none;
			text-transform: uppercase;

			a {
				text-decoration: none;
				color: white;
			}
		}
	}

	.contact-us {
		flex: 1;
		justify-content: center;
		margin-top: .9rem;

		.phone,
		.direction,
		.email {
			display: flex;
			margin-top: .5rem;

			img {
				padding-right: 1rem;
			}
		}

		.follow {
			margin-top: 1.25rem;

			img {
				padding: 0 .5rem;
			}
		}
	}

	.horary {
		flex: 1;
		margin-top: .9rem;

		p {
			margin: .5rem 0;
		}
	}
}
































@media (max-width: 600px) {
	.title-bg {
		background-color: var(--primary-color);
		margin-bottom: 1.5rem;
		display: flex;
		justify-content: center;
	}

	.title-section {
		width: 100%;
		display: flex;
		justify-content: end;
	}

	.title-bg-left {
		width: 90%;
		margin-bottom: 3rem;
		padding: 1rem 0 1rem 2.5rem;
		border-radius: 0 5rem 5rem 0;
	}

	.title-bg-right {
		width: 90%;
		margin: 5rem 0 3rem 0;
		padding: 1rem 0 1rem 1rem;
		border-radius: 5rem 0 0 5rem;
		justify-content: center;
	}

	.hero {
		.hero-content {

			.title-bg {
				width: 10%;
				padding: 2.5rem 0 2.5rem 5rem;
			}
		}
	}

	nav {
		padding: 2rem 1rem;

		.test {

			.logo-wrapper {



				.logo-container {
					height: 80px;
					width: 80px;
					transform: translateX(-240%); 

					.logo {
						height: 60px;
						height: 60px;
					}
				}
			}
		}
	}

	nav .menu-on {
		.item {
			display: none;
		}

		
	}





	.hero {
		flex-direction: column;
	}

	.origin-img {
		margin: auto;

		p {
			display: flex;
			font-weight: 600;
			justify-content: center;
		}

		img {
			width: 100%;
			height: auto;
			padding: 1rem 2rem 0rem 2rem;
		}
	}

	.home {
		.origin {
			.origin-content {
				display: flex;
				flex-direction: column-reverse;

				p {
					font-size: 1.2rem;
					margin: 1.5rem 0;
					padding: 0 2rem 0 3rem;
				}
			}
		}

		.history, .philosophy, .quality {
			.history-img, .quality-img {
				img {
					width: 100%;
				}
			}

			.history-content,	.philosophy-content, .quality-content {
				flex-direction: column;
				padding: 0;

				p {
					font-size: 1.2rem;
					margin: .5rem;
					padding: 0 1rem;
				}
			}
		}
	}

	.team {
		.team-img {
			img {
				width: 100%;
			}
		}
		.team-content {
			flex-direction: column;

			p {
				font-size: 1.2rem;
				margin: .5rem;
				padding: 0 1rem;
			}
		}

		.head-itamae-content {
			flex-direction: column-reverse;

			.itamae-content {
				display: flex;
				flex-direction: column;

				h2 {
					font-size: 1.5rem;
					padding-left: 1rem;
				}

				p {
					font-size: 1.2rem;
				}
			}

			.itamae-img {
				img {
					width: 100%;
				}
			}
		}

		.master {

			.men, .women {
				display: flex;
				flex-direction: column;

				.specialist p {
					font-size: 1.2rem;
				}
			}
		}

		.tools,
		.teamwork {

			.tools-content,
			.teamwork-content {
				display: flex;
				flex-direction: column;

				p {
					font-size: 1.2rem;
				}
			}
		}
	}

	.menu {
		.menu-img img {
			width: 85%;
		}

		.menu-content {
			flex-direction: column;

			p {
				font-size: 1.2rem;
			}
		}

		.shoku-omakase {
			.dish {
				flex-direction: column;
				.separator {
					display: none;
				}

				.dish-left-content, .dish-right-content {
					h3 {
						font-size: 1.2rem;
					}
					.dish-top {
						font-size: 1.2rem;

						img {
							width: 15px;
							height: 15px;
							margin: .2rem;
						}
					}

					.dish-content p {
						font-size: 1rem;
					}
				}

				.dish-left, .dish-right {
					.alergens {
						margin: 0;
						padding: 1rem 0;
						.alergens-top, .alergens-bottom {
							display: flex;

							img {
								width: 20px;
								height: 20px;
								margin: .5rem;
							}
							
						}
					}
				}
			}
		}

		.refined-creations {
			.creations {
				flex-flow: column nowrap;

				.plate p {
					font-size: 1.2rem;
				}
			}
		}

		.quality {
			.procedence-content {

				img {
					width: 100%;
					margin: 1rem;
				}

				.procedence {
					flex-flow: column nowrap;

					p {
						font-size: 1.2rem;
						margin: .5rem;
					}
				}
			}
		}

		.wine-selection {
			.wines {
				flex-flow: column nowrap;

				.wine-left p {
					font-size: 1.2rem;
				}

				.wine-left h2 {
					font-size: 1.6rem;
				}
			}
		}
    
	}

	.contact {
		.menu-img img {
			width: 120%;
		}
		.contact-content {
			flex-direction: column;

			p {
				font-size: 1.2rem;
			}
		}

		.contact-bg {
			margin-left: 1.5rem;
			width: 90%;
		}

		.reserve-content {
			flex-direction: column;

			p {
				font-size: 1.2rem;
			}

			.contact-bg-res {
				width: 70%;

				.top {
					width: 20px;
				}
			}
		}
	}

	footer {
		flex-direction: column;

		.links ul li a {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.contact-us, .horary {
			display: flex;
			flex-direction: column;
			align-items: center;

			.follow {
				margin: 1.5rem 0;
			}

			h3 {
				display: flex;
				align-items: center;
				justify-content: center;
			}

		}
	}
}









































/* MEDIA QUERY DEL HERO A LOS 600PX */